body {
    background-color: #e9e6f4;
}
.hero-image {
    background-image: url("../images/pexels-suketdedhia-570032.jpg");
    background-color: #f6c589;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.navbar-light {
    background-color: #e9e6f4 !important;
    border: none !important;
    border-width: 0 !important;
}

.my-button {
    background-color: #685eae;
    color: white;
    border-color: #685eae;
}
